body{
  background-color: rgb(235, 234, 233);
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(100, 101, 99);
}

.display-tasks-area{
  position: relative;
  top:10vh;
  left: 20vw;
  height: 50vh;
  width: 60vw;  
}

 .adding-task-bar  {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(205, 212, 191);
}

.adding-task-container {
  position: relative;
  top: 10vh; 
  display: grid;
  width: 30vw;  
  grid-template-columns: 67% 13% 20%;  
}

textarea {
  grid-column: 1 / 2;  
  text-align: center;
}


input {
  grid-column: 2/ 3;  
  text-align: right; 
}

textarea,
input,
.add-task-button {
  border-radius: 10px;
  border-style: none;
  margin: 0.1em;
  
}

.add-task-button {
  grid-column: 3 /-1;
  background-color: rgba(220, 114, 72, 0.784);   
}


.task-container {
display: flex;
flex-wrap: nowrap;
flex-direction: row;
width: 20vw;
}

.task-name {
  flex-basis: 67%;
  text-align: left;
}

.task-deadline {
  flex-basis: 13%;
}

.task-delete-button {
  flex-basis: 13%;
  width: 100%;
  font-size: 1em;
}

p,
button {
  border-radius: 10px;
  border-style: none;
  margin: 0.1em;
  padding:0.2em;
}


.display-tasks-container {
  width:100%; 
  display:flex;
  flex-wrap: wrap;  
  justify-content: space-evenly;
  align-items: center;
  row-gap: 2vw;
  column-gap: 2vw; 
}

button {
  background-color: rgb(68, 95, 73);
  font-weight: bold; 
  color: antiquewhite;
}
